footer {
}
//====================================================================================================

//====================================================================================================

.footer {
  min-height: 200px;
  background-color: $bgcolor;
}

.footer a {
  color: $mainColor;
}
