footer {
}
//====================================================================================================

//====================================================================================================
.footer {
  // .footer__content
  background: $bgcolor;
  &__content {
  }

  // .footer__copyright

  &__copyright {
    border-top: 1px solid $mainColor;
    color: $mainColor;
    opacity: 0.5;
    margin-top: 20px;
  }
}

.company {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  @media (max-width: $md3+px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .company__info

  &__info {
    @media (max-width: $md3+px) {
      text-align: center;
    }
    & span {
      display: block;
    }
  }

  // .company__logo
  &__logo {
    margin: 30px;
  }

  &__logo img {
    height: 130px;
  }

  // .company__contacts

  &__contacts {
    display: flex;
    flex-direction: column;
    @media (max-width: $md3+px) {
      text-align: center;
    }
    & a {
      color: $mainColor;
      transition: color 0.3s ease;
      &:hover {
        color: $bgcolor;
      }
    }
  }
}
