products {
}
//====================================================================================================

//====================================================================================================

.products {
  flex: 1 1 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/sl_4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;

  // .products__container

  &__container {
  }

  // .products__content
  &__content {
    display: flex;
  }

  // .products__categories

  &__categories {
    width: 25%;
  }

  // .products__items

  &__items {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }

  // .products__item

  &__item {
  }
}

.categories {
  position: relative;
  transition: height ease 0.5s;

  // .categories__items

  &__items {
    margin: 20px 20px 0 0;
    background: $bgcolor;
    border-radius: 2px;
    transition: transform ease 0.5s;
  }

  // .categories__item

  &__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(191, 207, 250, 0.4);
    padding: 5px;
    align-items: center;

    cursor: pointer;
    &:hover {
      text-shadow: 1px 2px 1px #000;
    }
    &:last-child {
      border: none;
    }
  }
}
.product-item {
  width: 30%;
  min-height: 300px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 2px;
  align-items: center;
  border: 3px solid $bgcolor;
  border-radius: 2px;
  text-shadow: 2px 2px 4px #000;

  &__img,
  & picture {
    width: 100%;
  }

  &__img {
    height: 200px;
    background: linear-gradient($bgcolor, $mainColor);
  }

  // .product-item__title

  &__title {
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: center;
  }

  // .product-item__price

  &__price {
    display: block;
    text-align: center;
  }

  // .product-item__button

  &__button {
    width: 80%;
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid $mainColor;
    text-decoration: none;
    text-transform: uppercase;
    color: $mainColor;
    text-align: center;
    transition: all 0.15s;
    background-color: $bgcolor;
  }
  &__button:hover {
    background-color: $mainColor;
    border-color: $bgcolor;
    color: $bgcolor;
  }
  &__button:active {
    background-color: $bgcolor;
    border-color: #bbbbbb;
    color: #bbbbbb;
  }
}

@media (max-width: $md2+px) {
  .products {
    padding-top: 100px;
    &__items {
      justify-content: center;
    }
  }
  .product-item {
    width: 40%;
    justify-content: center;
  }
}

@media (max-width: $md3+px) {
  .products__content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .categories {
    justify-content: center;
    position: relative;
    z-index: 50;
    width: 1px;
    height: 1px;
    &__title {
      position: fixed;
      transform: rotate(-90deg);
      text-align: center;
      background: $bgcolor;
      padding: 0 10px;
      top: 250px;
      left: -40px;
      cursor: pointer;
    }

    &__items {
      display: flex;
      flex-direction: column;
      background: $bgcolor;
      transform: scale(0);
      position: relative;
    }
    &__items.active {
      position: fixed;
      top: 50px;
      left: 50px;
      padding: 0;
      transform: scale(1);
      width: 80%;
    }
  }

  .products__page {
    padding-top: 200px;
  }

  .products__items {
    justify-content: center;
    width: 85%;
  }
  .product-item {
    width: 45%;
    justify-content: space-around;
  }
}

@media (max-width: $md4+px) {
  .products__items {
    width: 70%;
  }
  .product-item {
    width: 100%;
  }
  .page-changer__btn {
    font-size: 0.6rem;
    padding: auto 5px;
  }
}

.prev {
  // .prev__button

  &__button {
    width: 180px;

    border-radius: 0px 0px 0px 50px;
    @media (max-width: $md4+px) {
      text-align: right;
      padding-right: 10px;
    }
  }
}
.page {
  // .page__button

  &__button {
    width: 30px;

    border-radius: 2px;
  }
}
.next {
  // .next__button

  &__button {
    width: 180px;
    border-radius: 0px 50px 0px 0px;
    @media (max-width: $md4+px) {
      padding-left: 10px;
      text-align: left;
    }
  }
}

.products {
  // .products__page-changer

  &__page-changer {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
}
.page-changer__btn {
  margin: 5px;
  border: 2px solid $mainColor;
  background-color: transparent;
  min-height: 30px;
  transition: 0.2s;
  color: $mainColor;
}

.page-changer__btn:hover {
  background-color: $bgcolor;
}
.prev {
  // .prev__button

  &__button {
  }
}
.page {
  // .page__button

  &__button {
  }
}
.next {
  // .next__button

  &__button {
  }
}
