products {
}
//====================================================================================================

//====================================================================================================

.products {
  // .products__container

  &__container {
  }

  // .products__content
  &__content {
    display: flex;
  }

  // .products__categories

  &__categories {
    width: 25%;
  }

  // .products__items

  &__items {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }

  // .products__item

  &__item {
  }
}

.breadcrumb {
  width: 100%;
  min-height: 80px;
}
.categories {
  // .categories__title

  &__title {
  }

  // .categories__items

  &__items {
    margin: 20px 20px 0 0;
  }

  // .categories__item

  &__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid $mainColor;
    padding: 5px;
    align-items: center;
  }
}
.product-item {
  width: 30%;
  min-height: 300px;
  // .product-item__img
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $mainColor;

  &__img {
    width: 100%;
    border-bottom: 1px solid $mainColor;
  }

  // .product-item__title

  &__title {
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: center;
  }

  // .product-item__price

  &__price {
    display: block;
    text-align: center;
  }

  // .product-item__button

  &__button {
    width: 80%;
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid $mainColor;
    margin: 0 0.3em 0.3em 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $mainColor;
    text-align: center;
    transition: all 0.15s;
    background-color: inherit;
  }
  &__button:hover {
    background-color: rgba(46, 60, 187, 0.404);
    border-color: #dddddd;
  }
  &__button:active {
    background-color: rgba(46, 60, 187, 0.404);
    border-color: #bbbbbb;
  }
}
.prev {
  // .prev__button

  &__button {
  }
}
.page {
  // .page__button

  &__button {
  }
}
.next {
  // .next__button

  &__button {
  }
}

.products {
  // .products__page-changer

  &__page-changer {
  }
}
.prev {
  // .prev__button

  &__button {
  }
}
.page {
  // .page__button

  &__button {
  }
}
.next {
  // .next__button

  &__button {
  }
}
