//<МИКСИНЫ>===============================================================================================
@import 'mixins';
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import 'fonts';
//</Подключаем шрифты>=======================================================================================
//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Roboto';
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$mainColor: rgb(3, 3, 46);
$bgcolor: rgba(34, 80, 148, 0.705);
//</ПЕРЕМЕННЫЕ>===========================================================================================================
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'null';
body {
  color: $mainColor;
  font-size: 20px;
  line-height: 200%;
  background-color: rgb(196, 190, 190);

  font-family: $fontFamily, sans-serif;
  position: relative;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import 'forms';
@import 'ui';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import 'popup';
@import 'header';
@import 'footer';
@import 'home';
@import 'products';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
  background-image: url(../img/main_bg.webp);
  background-repeat: no-repeat;
  min-height: 1000px;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  // .page__title

  &__title {
    text-align: center;
    margin: 50px;
    font-size: 2rem;
  }

  // .page__info

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  // .page__info--item

  // .page__codex

  &__info--item,
  &__codex {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: $bgcolor;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    min-height: 200px;
  }

  &__codex {
    width: 85%;
    margin: 50px auto;
  }

  // .page__info--data

  &__info--data {
    font-size: 3rem;
    height: 40%;
    flex: 1;
    margin-top: 50px;
  }

  // .page__info--title

  &__info--title {
    display: block;
    height: 40%;
    text-align: center;
  }
}
